body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: #253764;
}

.LisaaKavija {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.LisaaNappi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  height: 100px;
  width: 200px;
  border-radius: 50px;
  border: none;
}

button {
  border: none;
  background-color: #008D37;
  color: #133713;
  font-size: 22px;
  border-radius: 50px;
  
}
button.hover {
  height: 120px;
}
.nappi-red {
  background-color: #DA2525;
  color: #FF7364;
}

.nappi-green {
  background-color: #008D37;
  color: #44D537;
}