body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  background-color: #253764;
}

.LisaaKavija {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.LisaaNappi {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 150px;

  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;

  height: 100px;
  width: 300px;
  border-radius: 50px;
  border: none;
}


.Ala-aula {
  background-color: #DA2525;
}

.Yla-aula {
  background-color: #008D37;
}

button {
  border: none;
  font-size: 22px;
  font-family: 'Ubuntu', Arial;
  border-radius: 50px;
   background-color: #DA2525;
  color: #ffffff;
}
button.hover {
  height: 120px;
}
.nappi-red {
  background-color: #DA2525;
  color: #FF7364;
}

.nappi-green {
  background-color: #008D37;
  color: #44D537;
}