body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 300px;
  background-color: #253764;
}

.LisaaNappi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  height: 100px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: #008D37;
}

button {
  border: none;
  background-color: #008D37;
  color: #133713;
  font-size: 22px;
}